.roomListingItem{
  border: 1px solid #ededed;
  margin-bottom: 20px;
  position: relative;
}
.listingBody{
  position: relative;
}
.imageWrapper, .billPriceWrapper{
  width: 273px;
  position: absolute;
  height: 100%;
}
.priceContent{
  padding: 0 20px;
}
.billPrice{
  font-weight: 500;
}
.billPriceWrapper{
  border-right: 1px solid #ddd;
}
.billPriceWrapper .label{
  margin-bottom: 15px;
  margin-left: 0;
  border-radius: 0;
  display: block;
}
.billDateWrapper{
  height: 50%;
  position: relative;
  margin-top:30px;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid #ddd;
}
.billDate{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
.billPriceWrapper :global hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
.listingOverview{
  position: relative;
  padding-left: 273px;
}
.title{
  font-weight: 500;
  margin-bottom: 10px;
}
.description{
  font-size: 14px;
  padding: 0 16px;
}
.label{
  margin-left: 16px;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
}
.label:global.yellow{
  background: #F9A825;
  color: white;
}
.label:global.green{
  background: #388E3C;
  color: white
}
.label:global.red{
  background: #BF360C;
  color: white;
}
.reservationContent{
  max-width: 400px;
}
