*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*DEFAULT STYLE*/
.rumantaraRoot{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #5A6269;
}
p{
  line-height: 22px;
  margin-bottom: 15px;
}
.default-anchor{
  color: inherit;
  text-decoration: none;
}
.default-anchor:hover{
  text-decoration: underline;
}
.anchor{
  text-decoration: none;
}
.pageContainer{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
section.pageContainer{
  margin-top: 30px;
}
.pageContainer.with-padding{
  padding-top: 30px;
  padding-bottom: 30px;
}
.section{
  margin-bottom: 25px;
}
.section-hr{
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #dce0e0;
}
.no-pad{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.no-left-pad{
  padding-left: 0;
}
.no-right-pad{
  padding-right: 0;
}
.grid-only-pad-xs{
  padding:0;
}
.no-box-shadow{
  box-shadow: none;
}
.no-radius{
  border-radius: 0;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.pull-left{
  float:left;
}
.pull-right{
  float: right;
}
.clearfix, .cleafix::after{
  display: block;
  content:"";
  clear: both;
}
.flex-self-start{
  align-self: flex-start;
}
.flex-self-end{
  align-self: flex-end;
}
.btn-red{
  background: #ef5682 !important;
  color: white;
}
@media only screen and (max-width: 63em){
  .no-left-pad-xs{
    padding-left: 0
  }
  .grid-only-pad-xs{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Misc Component Style */
.panel{
  border: 1px solid #dce0e0;
  background-color: white;
}
.panel-body{
  padding: 20px;
  position: relative;
}

/*Spinner*/
.spinner{
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;

    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
