.photoContainer{
  padding: 3px;
  border: 1px solid #dce0e0;
  border-bottom: none;
  margin-top:
}
.userName{
  font-weight: 400;
  margin-bottom: 10px;
}

.sideBarMenuContainer li{
  list-style: none;
  border: 1px solid #ededed;
  border-bottom: none;
}
.sideBarMenuContainer li:last-child{
  border-bottom: 1px solid #ededed;
}
.sideBarMenuContainer li a{
  padding: 10px;
  display: block;
}
.sideBarMenuContainer li a:hover{
  background: #ededed;
  text-decoration: none !important;
}
.btnSidebar{
  display: block;
  margin-top: 25px;
}
.balance{
  font-weight: 400;
  margin-bottom: 25px;
}
.btnBalance {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
