.heroContainer{
  align-items: flex-end !important;
}
.formSearchContainer{
  margin-bottom: 30px;
}
.formSearchContainer :global .grommetux-form-field{
  border:none;
}
.btnSubmitWrapper{
  background: white;
  padding: 10px;
}
